@use "partials/headeryfootter";
@use "partials/index";
@use "partials/rooms";
@use "partials/acitivities";
@use "partials/restaurant";
@use "partials/contact";
@use "partials/variables";
@use "partials/mediaQ";

html, body, main {
    max-width: 100%;
    overflow-x: hidden;
}
p, h1, h2, h3, h4 {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
}
h1, h2 {
    color:#3F4F40;
    font-size: 40px;
    font-weight: 500;
}
h3{color: #3F4F44;
    font-size: 36px;
    font-weight: 500;
text-align: center;}
p {
    color: #3F4F44;
    font-size: 1em ;
}
img {
    object-fit: cover;
    object-position: center;
    max-width: 100%;}
button {
        background-color:#3F4F44;
        color: #DCD7C9;
        padding: 10px 35px;
        border: none;
        cursor: pointer;
    }
header{
    background-color: #3F4F40;
    padding: 20px;
    ul {
        display: grid;
        grid-template-columns:  repeat(6, 1fr);
        gap:10px;
        justify-items: center;
        align-content: space-evenly;
        align-items: center;
        li{
            color: #DCD7C9;
            list-style-type: none;
            font-family: "Montserrat";
            }
            a {
            text-decoration: none;
            }
            .contact-menu-item {
            background-color: #A27B5C;
            padding: 15px 35px;
            }
            .menu-icon {
            justify-self: right;
            padding-right: 30px;
            }
            }
    }
/*index*/
main{
        overflow-x: clip;
.hero-bkg {
    background-image: url(../IMAGENES/HOME.jpg);
    height: 700px;
    display: flex;
    background-size: cover;
    background-position: center;
    padding: 20px;
    }
    .welcome{
        background-color: #d9d9d99f;
        backdrop-filter: blur(19.5px);
        text-align: center;
        width: 600px;
        padding: 15px;
        margin:auto;
        border-radius: 10px;
    }
.activities{
    background-color: #DCD7C9;
    text-align: center;
    .flex-container { 
        display: flex; 
    }
    .box{
        background-color: #959a9c;
        width: 350px;
        height: 300px;
        margin: auto;
        padding: 30px;   
    }
}
.ourstory-bkg {
    background-image: url(../IMAGENES/OURSTORY.JPG);
    height: 800px;
    display: flex;
    justify-content: flex-end;
    background-size: cover;
    background-position:initial;
    align-items: center;
    margin-top: 30px;
    .ourstory{
        color: #DCD7C9;
        background-color:#3F4F44;
        width: 60%;
        padding: 15px;
        height: 70%;
        border-radius: 30px 0 0 30px;
        padding: 50px; 
        h2, p{
            color: #DCD7C9;
        }
    }
}
.rooms {
    color: #DCD7C9;
    background-color:#3F4F44;
    padding: 15px;
    height: 20%;
    padding: 20px 0; 
    background-position: top;
    text-align: center;
    margin-top: 30px;
    .image-rooms {
        max-height: 800px;
        width: 100%;
    }
    .rooms-buttons ul{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        align-items: center;
        gap: 50px;
        justify-content: space-between;
        align-content: space-evenly;
        padding: 30px;
        .rooms-buttons li {
            background-color: #A27B5C ;
            padding: 5px 20px;
            list-style-type: none;
        }
    }
}
.restaurant-bkg{
            display: flex;
            justify-content: flex-end;
            background-position:initial;
            align-items: center;
            margin-top: 30px;
            .image-restaurant {
                height: 500px;
                width: 50%;
            }
            .restaurant{
                background-color:#DCD7C9;
                width: 50%;
                height: 500px;
                padding-left: 20px;
                text-align: center;
            }
        }
        .cava-bkg{    
            background-image: url(../IMAGENES/imagen6.jpg);
            height: 700px;
            display: flex;
            background-size: cover;
            background-position:center;
            padding: 20px;
            align-items:end;
            justify-content: center;
            .cava{
                background-color:#3F4F44 ;
                width: 700px;
                height: 300px;
                padding: 20px;
                text-align: center;
                margin-bottom: -100px;
                button{
                    background-color: #A27B5C ;
                    margin: 0 30 px;
                }
                h3, p{
                    color: #DCD7C9;
                    text-align: center;
                }
            }
            
        }
        .contact-container {
            display: flex;
            background-color: #DCD7C9;
            margin-top: 100px;
            width: 100%;
            .contact-form-container {
                max-width: 700px;
                padding: 70px;
                text-align: left;
                form {
                    width: 80%;
                    input {
                        background-color:#DCD7C9;
                        border: 0 solid black;
                        border-bottom: solid 1px;
                        width: 100%;   
                    }
                    textarea {
                        width: 100%;
                        border: none;
                        background-color: #F1EFE9;
                    }
                    input[type=submit] {
                        background-color:#3F4F44;
                        color: #DCD7C9;
                        padding: 10px 35px;
                        border: none;
                        cursor: pointer;
                        margin-top: 20px;
                    }
                }
            }
            .contact-image-container img {
                max-width: 100%;
                height: 100%;
            }
        }
    }

/*rooms*/
.rooms-page {
    background-image: url(../IMAGENES/imagen4.jpg);
    height: 300px;
    display: flex;
    background-size: cover;
    background-position: center;
    padding: 20px;
    }
.our-rooms {
    color: #DCD7C9;
    background-color:#3F4F44;
    background-position: top;
    text-align: center;
    margin-top: 30px;
    padding-top: 20px;
    h2, p {
        color: #DCD7C9;
    }
    .rooms-container {
    display: flex;
    justify-content: space-evenly;
    padding: 40px 0;
        .room-card {
            width: 470px;
            background-color: #DCD7C9;
            height: 100%;
            text-align: left;
            .room-card-text{
                padding: 20px;
            }
            h3 {
                text-align: left;
                margin-top: 0
                }
            p {
                color:#3F4F44 
                }
            button {
                    background-color:#A27B5C;
                }
                }
            }
.room-bkg, .room-bkg2, .room-bkg3 {
    height: 700px;
    display: flex;
    background-size: cover;
    background-position:center;
    padding: 20px;
    align-items:end;
    justify-content: center;
    margin-top: 30px;
    }
    .spacious{
        background-color:#3F4F44 ;
        width: 600px;
        height: 200px;
        padding: 10px;
        padding-block: 10px 20px;
        text-align: center;
        margin-bottom: -100px;
        h3, p{
            color: #DCD7C9;
        }
        .room-bkg {
            background-image: url(../IMAGENES/imagen16.jpg);
                }
        .room-bkg2{
            background-image: url(../IMAGENES/imagen15.jpg);
            margin-top: 120px;
            }
        .room-bkg3{
            background-image: url(../IMAGENES/imagen17.jpg);
            margin-top: 120px;
            margin-bottom: 120px
            }
    }
}

/*ACTIVITIES*/
.initial-page{
    background-image: url(../IMAGENES/imagen18.jpg);
    height: 300px;
    display: flex;
    background-size: cover;
    background-position: center;
    padding: 20px;
    }
.activities-bkg{
    background-image: url(../IMAGENES/imagen19.jpg);
    height: 700px;
    display: flex;
    background-size: cover;
    background-position:center;
    padding: 20px;
    align-items:end;
    justify-content: center;
    margin-top: 30px;
    .activities-container{
        background-color:#3F4F44 ;
        width: 700px;
        height: 250px;
        padding: 20px;
        text-align: center;
        margin-bottom: -100px;
        h2, p{
            color: #DCD7C9;
        }
        }
        button{
            background-color: #A27B5C ;
            padding: 10px 40px;
            margin-top: 20px;
            }
            }
.map{
    background-color: #3F4F44;
    height: 600px;
    justify-content: center;
    text-align: center;
    padding: 30px;
    margin-top: 120px;
    img {
        height: 100%;
        }
        }
.reservation-form{
    .reservation-container{
        background-color: #DCD7C9;
        height: 350px;
        text-align: center;
        padding: 20px;
        input, textarea{
            background-color: #F1EFE9;
            padding: 7px;
            margin: 10px 20px;
            border:none;
        }
        button{
            padding: 5px 60px;
            margin-top: 30px;
            background-color: #A27B5C
        }
    }
}
.spa-bkg{
    background-image: url(../IMAGENES/imagen20.jpg);
    height: 700px;
    display: flex;
    background-size: cover;
    background-position:center;
    padding: 20px;
    align-items:end;
    justify-content: center;
    margin-top: 30px;
    h2, p{
        color: #DCD7C9;
        padding: 0 20px;
    }
}
.spa{
    background-color: #DCD7C9;
    margin-top: 120px;
    display: flex;
    height: 100%;
    padding: 0 5%;
    margin-bottom: 30px;
    button{
        background-color: #A27B5C;
        margin-bottom: 40px;
        padding: 5px 30px;
    }
    .spa-col1 {
        width: 40%;
        padding: 40px;
        align-content: center;
        text-align: center;
    }
    .spa-col2{
        width: 60%;
        padding: 8%;
        align-content: center;
        .spa-container{
            background-color: #F1EFE9;
            padding: 20px;
            border-radius: 20px;
            margin: 20px;
            h3{
                margin-top: 0;
            }
            } 
    }
}
    .main{
        .restaurant-page{
            background-image: url(../IMAGENES/imagen22.jpg);
            height: 300px;
            display: flex;
            background-size: cover;
            background-position: center;
            padding: 20px;
            }
        .restaurant-col{
            background-color: #DCD7C9;
            margin-top: 30px;
            display: flex;
            height: 100%;
            padding: 0 5%;
            margin-bottom: 30px;
            .restaurant-col1 {
                width: 50%;
                padding: 40px;
                align-content: center;
                text-align: center;
            }
            .restaurant-col2{
                align-content: center;
                width: 50%;
                padding: 20px 30px;
                margin: 20px;
                img {
                height: 500px;
                }
            }
        .wine-bkg{
            background-image: url(../IMAGENES/imagen6.jpg);
            height: 700px;
            display: flex;
            background-size: cover;
            background-position: center;
            padding: 20px;
            }
        .reservation-form {
            background-color: #DCD7C9;
            text-align: center;
            padding-top: 40px;
            .reservation-container {
                display: flex;
                justify-content: center;
                gap: 100px;
                .reservation-form-col {
                    max-width: 500px;
                    .reservation-form input[type=submit] {
                        background-color: #3F4F44;
                    }
                }
            }
            }
            
        }
    }
    main{
        .contact-page{
            background-image: url(../IMAGENES/imagen23.jpg);
            height: 300px;
            display: flex;
            background-size: cover;
            background-position: center;
            padding: 40px;
            }
        .contact-data{
            background-color:#3F4F44;
            height: 600px;
            width: 40%;
            margin-top: 30px;
            text-align: center;
            align-content: center;
            border-radius: 20px;
            margin: 50px;
            h3,p{
                color: #DCD7C9;
            }
            p{
                font-size: 20px
            }
            }
        .maps iframe{
            height: 480px;
            width: 100%;
            margin-top: 30px
            }
    }
    
    
    
    
    footer{
        background-color:#2C3930;
        p{
            color:#DCD7C9;
            text-align: center;
            }
    }
    
    
    @media (max-width:750px) {
        header ul{
            grid-template-columns: repeat(2, 1fr);
        }
        .menu-item {
            display: none;
        }
        .contact-image-container{
            display:none
        }
        .cava {
            width: 80%;
        }
        .flex-container{
            flex-direction: column;
            gap: 20px;
        }
        .rooms-container{
            flex-direction: column;
            gap: 20px;
            align-items: center;
            padding: 10px 0;
        }
        .room-card{
            width: 80%;
        }
        
        .rooms-buttons ul{
            grid-template-columns: repeat(1, 1fr);
        }
    }
    
    @media (min-width:751px) {
        .menu-icon {
            display: none;
        }
    }
    