@use "variables" as vars;

header{
    background-color: #3F4F40;
    padding: 20px;
    ul{
    display: grid;
    grid-template-columns:  repeat(6, 1fr);
    gap:10px;
    justify-items: center;
    align-content: space-evenly;
    align-items: center;
    li{
        color: #DCD7C9;
        list-style-type: none;
        font-family: "Montserrat";
        }
    a {
        text-decoration: none;
        }
    .contact-menu-item {
            background-color: #A27B5C;
            padding: 15px 35px;
            }
    .menu-icon {
        justify-self: right;
        padding-right: 30px;
        }
    }
}
footer{
    @include vars.greenbox;
    text-align: center;
    }